div.cc {
  background-color: #ffd6ae /* 40% lighter than and replacing #ffbb78 /* !important; light orange */
}

div.pn {
  background-color: #c7def2 !important; /* 40% lighter than and replacing #a1c8ea /* !important; light blue */
}
div.cc, div.pn {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.cc >.result-summary > span > em {
    background: #c7def2; /* 40% lighter than and replacing #a1c8ea /* light blue */
    border-radius: 2px;
    padding: 0 .1em;
    font-style: normal;
}
.pn > .result-summary > span > em {
    background: #ffd6ae; /* 40% lighter than #ffbb78 replacing #edd2a3; */
    border-radius: 2px;
    padding: 0 .1em;
    font-style: normal;
}
body {
    /* background-color: #FFF; */
    color: #3C3C3C;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 8px
    /* width 1379.8px */
}

h1, h2 {
    color: #7b766d;
    /* display: block; */
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0.5em;
}
h2 {
    font-weight: 500;
    font-size: 1.2em;
}

